In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Scrape the List of postal codes of Canada

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text

In [3]:
soup = BeautifulSoup(source, 'xml')

In [4]:
posttable=soup.find('table')

In [5]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [6]:
# Search all the postcode, borough, neighborhood 
for tr_block in posttable.find_all('tr'):
    row_data = []
    for td_block in tr_block.find_all('td'):
        row_data.append(td_block.text.strip())
    if len(row_data) ==3:
        df.loc[len(df)] = row_data

In [7]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

## Data Cleaning

In [8]:
# remove cells with a borough that is Not assigned
df = df[df['Borough']!= 'Not assigned']
df.tail(5)

,Postalcode,Borough,Neighborhood
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [9]:
#If a cell has a borough but a 'Not assigned' neighborhood, then the neighborhood will be the same as the borough
df[df['Neighborhood']=='Not assigned'].count()

Postalcode      0
Borough         0
Neighborhood    0
dtype: int64

In [10]:
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [11]:
df_merged = pd.merge(df, temp_df, on='Postalcode')

In [12]:
df_merged.drop(['Neighborhood'],axis=1,inplace=True)

In [13]:
df_merged.drop_duplicates(inplace=True)

In [14]:
df_merged.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)

In [15]:
df_merged.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [16]:
df_merged.shape

(103, 3)